
@{
    ViewBag.Title = "Завершение регистрации";
}



<div class="login-wrap">
    <div class="login-html">
        <center>
            <p>
              <h2>  Благодарим Вас, что поcетили Нас!</h2>
            </p>

            <p>
                <h2>Для дальнейшей работы пройдите пожалуйста в окно @Html.ActionLink("регистрации", "Register", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
</h2></p>
        </center>
    </div>
</div>