@{
    ViewBag.Title = "Подтверждение почты";
}

<div class="login-wrap">
    <div class="login-html">
        <center>
        <p>
            Благодарим за подтверждение электронной почты. @Html.ActionLink("Щелкните здесь для входа", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
        </p>
            </center>
    </div>
    </div>
